.profile-page {
  display: flex;
  justify-content: center;
  padding: 40px 20px;
  background: #f5f7f5;
}

.profile-card {
  background: white;
  width: 100%;
  max-width: 600px;
  border-radius: 10px;
  padding: 30px;
}

.profile-header {
  text-align: center;
  margin-bottom: 30px;
}

.avatar {
  width: 80px;
  height: 80px;
  background: #6cca14ff;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  margin: 0 auto 10px;
}

.profile-info {
  background: rgb(232, 250, 215);
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 25px;
}

.info-row {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.profile-actions {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.edit-btn {
  background: #6cca14ff;
  color: white;
  border: none;
  padding: 10px 18px;
}
 
